<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>
        body {
            font-size: 18px;
        }

        td {
            vertical-align: top;
        }
    </style>
</head>

<body>
<header>
    <b>ICECRAWLER</b>
    <div style="float:right;">
        <button onclick="window.location.href='/login'">
            Login
        </button>
        <button onclick="window.location.href='/register'">
            Sign Up
        </button>
        <button onclick="window.location.href='/logout'">
            Logout
        </button>
    </div>
</header>
<hr>
{% block content %}
{% endblock %}
</body>

</html>